*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.hero{
    position: relative;
    height: 100vh;
    width: 100%;
    background: #eff4fd;
}

.logo{
  /* height: 15rem; */
  /* width: 16rem; */
  /* background-color: yellow; */
  height: 40px;
  width: 200px;
  }

nav{

display: flex;
align-items: center;
width: 84%;
justify-content: space-between;
padding: 20px 0;
margin: auto;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: #000;
    font-weight:bold ;
}

nav ul li a:hover{
    color: red;
}

.detel{
    margin-left: 8%;
    margin-top: 13%;
}

.detel h1{
    font-size: 50px;
    color: #212121;
    margin-bottom: 20px;
}

span{
    color: orange;
}

.detel p{
    color: #555;
    line-height: 22px;
}

.detel a{
    background: #212121;
    padding: 10px 18px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    display: inline-block;
    margin: 30px 0;
    border-radius: 4px;
}

.images
{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}

.images img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translate(-50%);
    transition: bottom 1s, left 1s;
}

.images .shape{
    height: 30rem;
    top: 20%;
    right: 60%;
}

.images .boy{
    height: 25rem;

}


/**************************************** social icon bar add ******************************************/
.icon-bar{
    position: fixed;
    top: 50%;
    transform: translate(-50%);
    z-index:  10;
    padding-left: 0.1rem;
}

.icon-bar a{
    width: 18rem;
    background:#3b5999 ;
    color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.1rem;
    padding-left: 0.5rem;
    transition: all 0.5s linear ;
    transform: translateX(-7rem) ;
}

.icon-bar a:hover{
    transform: translateX(0);
}

.icon-bar a .fa-brands{
    padding-left: 1rem;
    font-size: 2rem;
    animation: letszoom 3s linear alternate-reverse infinite;
}

@keyframes letszoom{
    from{
        transform: scale(0.6);
    }
    to{
        transform: scale(0.9);
    }
}

.icon-bar .facebook{
    background: #00aced;

}

.icon-bar .instragram{
    background: #e4405f;
}

.icon-bar .youtube{
    background: #cd201f;
}

.icon-bar .linkedin{
    background: #0077b5;
}